.jumbotron {
  background-color: #E0F2F1;
  border-bottom: 10px solid #004D40;
  margin: 10px 0px 10px 0px;
}
.jumbotron .header-title {
  color: #00695C;
  margin: 10px 0px 30px 0px;
}
.jumbotron .header-quote {
  color: #00695C;
}

.img-caption {
  color: #009688;
}

.img {
  margin: 20px 0px 10px 0px;
  max-width: 100%;
}

.content {
  color: #4d000d;
}

.footer {
  margin: 40px 0px 40px 0px;
  padding-top: 30px;
  border-top: 1px solid #004D40;
  border-bottom: 1px solid #004D40;
  color: #00695C;
}
.footer .footer-link {
  color: #00695C;
}
